@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:wght@700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
html[data-theme='dark'] {
  --color-primary: hsl(235, 21%, 11%);
}
body {
  background-color: var(--color-primary);
  position: relative;
  font-size: 62.5%;
}
.back {
  position: absolute;
  width: 100%;
}
.top__image {
  width: 100%;
  height: 100%;
}
.container {
  position: absolute;
}
.todo--text {
  font-family: 'Roboto', sans-serif;
  font-size: calc(2rem + 2vw);
  font-weight: 700;
  text-transform: uppercase;
}
